:root {
  --brigth-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-light-gray);
  font-size: 15px;
}

h1 {
  font-family: 'Big Shoulders Display', sans-serif;
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 50px;
  line-height: 25px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  margin-bottom: 50px;
  line-height: 25px;
}

h1,
p,
img {
  margin-top: 40px;
  margin-left: 30px;
}

/*  ========
    CONTAINER MENU
    ========
*/

.container__menu {
  display: flex;
  min-height: calc(75vh - 20px);
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px 30px 0 30px;
}

.container__menu--sedans {
  background-color: var(--brigth-orange);
  border-radius: 10px 0 0 10px;
  padding-right: 20px;
}
.container__menu--suvs {
  background-color: var(--dark-cyan);
  padding-right: 20px;
}

.container__menu--luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0 10px 10px 0;
  padding-right: 30px;
}

/*  ========
    BUTTON 
    ========
*/

.container__menu--button {
  background-color: var(--very-light-gray);
  font-family: 'Lexend Deca', sans-serif;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
  border: none;
  margin: 20px;
}

.container__menu--sedans button {
  color: var(--brigth-orange);
}
.container__menu--sedans button:hover {
  border: 2px solid var(--very-light-gray);
  background-color: var(--brigth-orange);
  color: var(--very-light-gray);
}

.container__menu--suvs button {
  color: var(--dark-cyan);
}
.container__menu--suvs button:hover {
  border: 2px solid var(--very-light-gray);
  background-color: var(--dark-cyan);
  color: var(--very-light-gray);
}

.container__menu--luxury button {
  color: var(--very-dark-cyan);
}
.container__menu--luxury button:hover {
  border: 2px solid var(--very-light-gray);
  background-color: var(--very-dark-cyan);
  color: var(--very-light-gray);
}

/*  ========
    FOOTER 
    ========
*/
.attribution {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .container__menu {
    display: flex;
  }
}
@media screen and (max-width: 375px) {
  .container__menu {
    flex-direction: column;
  }
  .container__menu--sedans {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
  .container__menu--luxury {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}
